# Solar Energy Data Analysis

Extracting and reading the datasets

In [38]:
# import libraries
import zipfile
import os
import pandas as pd

# Step 1: Unzip the file
zip_file_path = '/home/noh/10Academy/Kifiya-AIM-2/data.zip'  # Replace with your .zip file path
extracted_folder_path = '/home/noh/10Academy/Kifiya-AIM-2'  # Replace with your desired extract path

# Extract all the contents of zip file into a directory
with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    zip_ref.extractall(extracted_folder_path)

# Let's list out the files inside the directory
# List all files and directories in the folder
files_and_dirs = os.listdir(extracted_folder_path+"/data")

print(files_and_dirs)

['togo-dapaong_qc.csv', 'sierraleone-bumbuna.csv', 'benin-malanville.csv']

Now, lets read the extracted datasets from zip folder and read the datasets using pandas `read_csv()` function by refering the name of the csv file names.

In [39]:
# Read the extracted file into a Pandas DataFrame

csv_file_path = f'{extracted_folder_path}/data/togo-dapaong_qc.csv'

togo_df = pd.read_csv(csv_file_path)

# Now, let's explore the first 5 rows
display(togo_df.head())

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-10-25 00:01,-1.3,0.0,0.0,0.0,0.0,24.8,94.5,0.9,1.1,0.4,227.6,1.1,977,0,0.0,24.7,24.4,NaN
1,2021-10-25 00:02,-1.3,0.0,0.0,0.0,0.0,24.8,94.4,1.1,1.6,0.4,229.3,0.7,977,0,0.0,24.7,24.4,NaN
2,2021-10-25 00:03,-1.3,0.0,0.0,0.0,0.0,24.8,94.4,1.2,1.4,0.3,228.5,2.9,977,0,0.0,24.7,24.4,NaN
3,2021-10-25 00:04,-1.2,0.0,0.0,0.0,0.0,24.8,94.3,1.2,1.6,0.3,229.1,4.6,977,0,0.0,24.7,24.4,NaN
4,2021-10-25 00:05,-1.2,0.0,0.0,0.0,0.0,24.8,94.0,1.3,1.6,0.4,227.5,1.6,977,0,0.0,24.7,24.4,NaN

In [40]:
csv_file_path = f'{extracted_folder_path}/data/benin-malanville.csv'  # Replace with your extracted CSV file name

benin_df = pd.read_csv(csv_file_path)

# Now, let's explore the first 5 rows
display(benin_df.head(5))

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-08-09 00:01,-1.2,-0.2,-1.1,0.0,0.0,26.2,93.4,0.0,0.4,0.1,122.1,0.0,998,0,0.0,26.3,26.2,NaN
1,2021-08-09 00:02,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.6,0.0,0.0,0.0,0.0,0.0,998,0,0.0,26.3,26.2,NaN
2,2021-08-09 00:03,-1.1,-0.2,-1.1,0.0,0.0,26.2,93.7,0.3,1.1,0.5,124.6,1.5,997,0,0.0,26.4,26.2,NaN
3,2021-08-09 00:04,-1.1,-0.1,-1.0,0.0,0.0,26.2,93.3,0.2,0.7,0.4,120.3,1.3,997,0,0.0,26.4,26.3,NaN
4,2021-08-09 00:05,-1.0,-0.1,-1.0,0.0,0.0,26.2,93.3,0.1,0.7,0.3,113.2,1.0,997,0,0.0,26.4,26.3,NaN

In [41]:
csv_file_path = f'{extracted_folder_path}/data/sierraleone-bumbuna.csv'  # Replace with your extracted CSV file name

seralio_df = pd.read_csv(csv_file_path)

# Now, let's explore the first 5 rows
display(seralio_df.head())

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-10-30 00:01,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.1,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
1,2021-10-30 00:02,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.2,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
2,2021-10-30 00:03,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.2,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
3,2021-10-30 00:04,-0.7,0.0,-0.8,0.0,0.0,21.9,99.3,0.0,0.0,0.0,0.0,0.0,1002,0,0.1,22.3,22.6,NaN
4,2021-10-30 00:05,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.3,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN

## Exploratory Data Analysis(EDA)

### Summary Statistics: 
- Calculate the mean, median, standard deviation, and other statistical measures for each numeric column to understand data distribution.

In [42]:
# statistical summary of Togo
togo_df.describe()

,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
count,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,0.0
mean,230.555040,151.258469,116.444352,226.144375,219.568588,27.751788,55.013160,2.368093,3.229490,0.557740,161.741845,10.559568,975.915242,0.000535,0.001382,32.444403,33.543330,NaN
std,322.532347,250.956962,156.520714,317.346938,307.932510,4.758023,28.778732,1.462668,1.882565,0.268923,91.877217,5.915490,2.153977,0.023116,0.026350,10.998334,12.769277,NaN
min,-12.700000,0.000000,0.000000,0.000000,0.000000,14.900000,3.300000,0.000000,0.000000,0.000000,0.000000,0.000000,968.000000,0.000000,0.000000,13.100000,13.100000,NaN
25%,-2.200000,0.000000,0.000000,0.000000,0.000000,24.200000,26.500000,1.400000,1.900000,0.400000,74.800000,6.900000,975.000000,0.000000,0.000000,23.900000,23.600000,NaN
50%,2.100000,0.000000,2.500000,4.400000,4.300000,27.200000,59.300000,2.200000,2.900000,0.500000,199.100000,10.800000,976.000000,0.000000,0.000000,28.400000,28.400000,NaN
75%,442.400000,246.400000,215.700000,422.525000,411.000000,31.100000,80.800000,3.200000,4.400000,0.700000,233.500000,14.100000,977.000000,0.000000,0.000000,40.600000,43.000000,NaN
max,1424.000000,1004.500000,805.700000,1380.000000,1367.000000,41.400000,99.800000,16.100000,23.100000,4.700000,360.000000,86.900000,983.000000,1.000000,2.300000,70.400000,94.600000,NaN

In [43]:
# statistical summary of Seralion
seralio_df.describe() #

,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
count,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,0.0
mean,201.957515,116.376337,113.720571,206.643095,198.114691,26.319394,79.448857,1.146113,1.691606,0.363823,133.044668,7.172220,999.876469,0.000967,0.004806,32.504263,32.593091,NaN
std,298.495150,218.652659,158.946032,300.896893,288.889073,4.398605,20.520775,1.239248,1.617053,0.295000,114.284792,7.535093,2.104419,0.031074,0.047556,12.434899,12.009161,NaN
min,-19.500000,-7.800000,-17.900000,0.000000,0.000000,12.300000,9.900000,0.000000,0.000000,0.000000,0.000000,0.000000,993.000000,0.000000,0.000000,10.700000,11.100000,NaN
25%,-2.800000,-0.300000,-3.800000,0.000000,0.000000,23.100000,68.700000,0.000000,0.000000,0.000000,0.000000,0.000000,999.000000,0.000000,0.000000,23.500000,23.800000,NaN
50%,0.300000,-0.100000,-0.100000,3.600000,3.400000,25.300000,85.400000,0.800000,1.600000,0.400000,161.500000,6.200000,1000.000000,0.000000,0.000000,26.600000,26.900000,NaN
75%,362.400000,107.000000,224.700000,359.500000,345.400000,29.400000,96.700000,2.000000,2.600000,0.600000,234.100000,12.000000,1001.000000,0.000000,0.000000,40.900000,41.300000,NaN
max,1499.000000,946.000000,892.000000,1507.000000,1473.000000,39.900000,100.000000,19.200000,23.900000,4.100000,360.000000,98.400000,1006.000000,1.000000,2.400000,72.800000,70.400000,NaN

In [44]:
# Statistical summary of Benin
benin_df.describe()

,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
count,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,0.0
mean,240.559452,167.187516,115.358961,236.589496,228.883576,28.179683,54.487969,2.121113,2.809195,0.473390,153.435172,8.582407,994.197199,0.000923,0.001905,35.246026,32.471736,NaN
std,331.131327,261.710501,158.691074,326.894859,316.536515,5.924297,28.073069,1.603466,2.029120,0.273395,102.332842,6.385864,2.474993,0.030363,0.037115,14.807258,12.348743,NaN
min,-12.900000,-7.800000,-12.600000,0.000000,0.000000,11.000000,2.100000,0.000000,0.000000,0.000000,0.000000,0.000000,985.000000,0.000000,0.000000,9.000000,8.100000,NaN
25%,-2.000000,-0.500000,-2.100000,0.000000,0.000000,24.200000,28.800000,1.000000,1.300000,0.400000,59.000000,3.700000,993.000000,0.000000,0.000000,24.200000,23.600000,NaN
50%,1.800000,-0.100000,1.600000,4.500000,4.300000,28.000000,55.100000,1.900000,2.600000,0.500000,181.000000,8.600000,994.000000,0.000000,0.000000,30.000000,28.900000,NaN
75%,483.400000,314.200000,216.300000,463.700000,447.900000,32.300000,80.100000,3.100000,4.100000,0.600000,235.100000,12.300000,996.000000,0.000000,0.000000,46.900000,41.500000,NaN
max,1413.000000,952.300000,759.200000,1342.300000,1342.300000,43.800000,100.000000,19.500000,26.600000,4.200000,360.000000,99.400000,1003.000000,1.000000,2.500000,81.000000,72.500000,NaN

### Data Quality Check: 
- Look for missing values, 
- outliers, or incorrect entries (e.g., negative values where only positive should exist), especially in columns like GHI, DNI, and DHI and check for outliers, especially in sensor readings (ModA, ModB) and wind speed data (WS, WSgust).

In [45]:
# Let's check the missing values of Togo
togo_df.isnull().sum()

Timestamp             0
GHI                   0
DNI                   0
DHI                   0
ModA                  0
ModB                  0
Tamb                  0
RH                    0
WS                    0
WSgust                0
WSstdev               0
WD                    0
WDstdev               0
BP                    0
Cleaning              0
Precipitation         0
TModA                 0
TModB                 0
Comments         525600
dtype: int64

In [46]:
# Let's check the missing values of Seralio
seralio_df.isnull().sum()

Timestamp             0
GHI                   0
DNI                   0
DHI                   0
ModA                  0
ModB                  0
Tamb                  0
RH                    0
WS                    0
WSgust                0
WSstdev               0
WD                    0
WDstdev               0
BP                    0
Cleaning              0
Precipitation         0
TModA                 0
TModB                 0
Comments         525600
dtype: int64

In [47]:
# Let's check the missing values of Benin
benin_df.isnull().sum()

Timestamp             0
GHI                   0
DNI                   0
DHI                   0
ModA                  0
ModB                  0
Tamb                  0
RH                    0
WS                    0
WSgust                0
WSstdev               0
WD                    0
WDstdev               0
BP                    0
Cleaning              0
Precipitation         0
TModA                 0
TModB                 0
Comments         525600
dtype: int64

According to the initial analysis of each dataset, the comments column has missing all row values and other columns have no missing values. Therefore, the 'comments' column is no longer needed in our further analysis and we will drop the column name from all datasets

In [48]:
# drop the "Comments" column from each dataset
for df in [togo_df, seralio_df, benin_df]:
    df.drop(columns=['Comments'], inplace=True)

Now, let's check for negative values in important columns such as `'GHI', 'DNI', 'DHI'` in each datasets

In [51]:
for df in [togo_df, seralio_df, benin_df]:
    # Remove rows with negative values in GHI, DNI, or DHI inplace
    df.drop(df[(df['GHI'] < 0) | (df['DNI'] < 0) | (df['DHI'] < 0)].index, inplace=True)

We have removed any negative values in each datasets of the specified columns.

Next, let's check and detect outliers, especially in sensor readings (ModA, ModB) and wind speed data (WS, WSgust) if any.

There are different approaches to detect outliers such as box-plot, z-score, and interquantil range. But now, I am going to use Interquantil range(IQR) to check and avoid outliers.

In [55]:
# Define a function to identify outliers using IQR
def find_outliers_iqr(df, columns):
    outliers_dict = {}
    for column in columns:
        Q1 = df[column].quantile(0.25)
        Q3 = df[column].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        outliers = df[(df[column] < lower_bound) | (df[column] > upper_bound)]
        outliers_dict[column] = outliers
    return outliers_dict

# Check for outliers in ModA, ModB, WS, and WSgust using IQR
for df, name in zip([togo_df, seralio_df, benin_df], ['Togo', 'Sierra Leone', 'Benin']):
    outliers_iqr = find_outliers_iqr(df, ['ModA', 'ModB', 'WS', 'WSgust'])
    
    print(f"Outliers in {name} dataset:")
    for column, df_outliers in outliers_iqr.items():
        print(f"  {column}:")
        print(df_outliers)

Outliers in Togo dataset:
  ModA:
Empty DataFrame
Columns: [Timestamp, GHI, DNI, DHI, ModA, ModB, Tamb, RH, WS, WSgust, WSstdev, WD, WDstdev, BP, Cleaning, Precipitation, TModA, TModB]
Index: []
  ModB:
Empty DataFrame
Columns: [Timestamp, GHI, DNI, DHI, ModA, ModB, Tamb, RH, WS, WSgust, WSstdev, WD, WDstdev, BP, Cleaning, Precipitation, TModA, TModB]
Index: []
  WS:
               Timestamp   GHI   DNI   DHI  ModA  ModB  Tamb    RH   WS  \
16808   2021-11-05 16:09  49.0   0.0  47.7  50.4  47.4  33.4  41.4  7.3
16809   2021-11-05 16:10  50.5   0.0  49.1  51.7  48.7  33.3  41.8  8.2
16855   2021-11-05 16:56  29.6   0.0  32.4  30.4  28.9  32.4  43.3  8.5
16856   2021-11-05 16:57  28.6   0.0  31.3  29.3  27.8  32.3  44.5  7.8
16872   2021-11-05 17:13  28.8  17.8  34.1  31.5  30.0  30.9  50.6  6.7
...                  ...   ...   ...   ...   ...   ...   ...   ...  ...
509246  2022-10-13 15:27  21.8   0.0  23.6  19.2  19.1  24.0  83.0  9.6
509247  2022-10-13 15:28  21.8   0.0  23.6  19.4  19.3  24.1  83.0  7.4
509248  2022-10-13 15:29  21.6   0.0  23.5  19.4  19.3  24.1  83.0  6.7
509249  2022-10-13 15:30  21.1   0.0  22.9  19.1  19.0  24.0  83.2  7.0
509251  2022-10-13 15:32  19.8   0.0  21.7  18.1  18.1  23.9  83.3  7.2

        WSgust  WSstdev     WD  WDstdev   BP  Cleaning  Precipitation  TModA  \
16808      9.5      1.4  133.9     12.2  973         0            0.0   34.6
16809     10.5      1.1  127.7     14.5  973         0            0.0   34.5
16855     11.0      1.8  137.5     13.6  974         0            0.0   33.3
16856     10.5      1.5  142.6     10.7  974         0            0.0   33.2
16872      8.4      1.5  151.4     13.8  974         0            0.0   31.7
...        ...      ...    ...      ...  ...       ...            ...    ...
509246    12.5      1.8  144.9     12.2  975         0            0.0   25.2
509247    11.1      1.6  149.2     14.5  975         0            0.0   25.1
509248     9.2      1.3  155.4     12.6  975         0            0.0   25.1
509249     9.4      1.3  157.5     16.2  975         0            0.0   25.0
509251     9.2      1.1  147.2     11.7  974         0            0.0   24.9

        TModB
16808    34.6
16809    34.5
16855    33.1
16856    33.0
16872    31.4
...       ...
509246   25.1
509247   25.0
509248   24.9
509249   24.9
509251   24.8

[2668 rows x 18 columns]
  WSgust:
               Timestamp   GHI  DNI   DHI  ModA  ModB  Tamb    RH   WS  \
16808   2021-11-05 16:09  49.0  0.0  47.7  50.4  47.4  33.4  41.4  7.3
16809   2021-11-05 16:10  50.5  0.0  49.1  51.7  48.7  33.3  41.8  8.2
16854   2021-11-05 16:55  31.0  0.0  33.8  32.0  30.3  32.5  43.0  5.5
16855   2021-11-05 16:56  29.6  0.0  32.4  30.4  28.9  32.4  43.3  8.5
16856   2021-11-05 16:57  28.6  0.0  31.3  29.3  27.8  32.3  44.5  7.8
...                  ...   ...  ...   ...   ...   ...   ...   ...  ...
509246  2022-10-13 15:27  21.8  0.0  23.6  19.2  19.1  24.0  83.0  9.6
509247  2022-10-13 15:28  21.8  0.0  23.6  19.4  19.3  24.1  83.0  7.4
509248  2022-10-13 15:29  21.6  0.0  23.5  19.4  19.3  24.1  83.0  6.7
509249  2022-10-13 15:30  21.1  0.0  22.9  19.1  19.0  24.0  83.2  7.0
509251  2022-10-13 15:32  19.8  0.0  21.7  18.1  18.1  23.9  83.3  7.2

        WSgust  WSstdev     WD  WDstdev   BP  Cleaning  Precipitation  TModA  \
16808      9.5      1.4  133.9     12.2  973         0            0.0   34.6
16809     10.5      1.1  127.7     14.5  973         0            0.0   34.5
16854      9.4      1.9  138.2     13.3  974         0            0.0   33.3
16855     11.0      1.8  137.5     13.6  974         0            0.0   33.3
16856     10.5      1.5  142.6     10.7  974         0            0.0   33.2
...        ...      ...    ...      ...  ...       ...            ...    ...
509246    12.5      1.8  144.9     12.2  975         0            0.0   25.2
509247    11.1      1.6  149.2     14.5  975         0            0.0   25.1
509248     9.2      1.3  155.4     12.6  975         0            0.0   25.1
509249     9.4      1.3  157.5     16.2  975         0            0.0   25.0
509251     9.2      1.1  147.2     11.7  974         0            0.0   24.9

        TModB
16808    34.6
16809    34.5
16854    33.1
16855    33.1
16856    33.0
...       ...
509246   25.1
509247   25.0
509248   24.9
509249   24.9
509251   24.8

[1913 rows x 18 columns]
Outliers in Sierra Leone dataset:
  ModA:
               Timestamp     GHI    DNI    DHI    ModA    ModB  Tamb    RH  \
477418  2022-09-26 12:59  1487.0  773.0  709.6  1507.0  1473.0  28.5  83.4
477421  2022-09-26 13:02  1499.0  846.0  650.2  1496.0  1464.0  28.7  78.6

         WS  WSgust  WSstdev     WD  WDstdev    BP  Cleaning  Precipitation  \
477418  2.2     3.1      0.6  242.8     17.5  1001         0            0.0
477421  1.4     2.4      0.6  231.3     12.1  1001         0            0.0

        TModA  TModB
477418   58.0   57.1
477421   60.7   60.2
  ModB:
               Timestamp     GHI    DNI    DHI    ModA    ModB  Tamb    RH  \
477418  2022-09-26 12:59  1487.0  773.0  709.6  1507.0  1473.0  28.5  83.4
477421  2022-09-26 13:02  1499.0  846.0  650.2  1496.0  1464.0  28.7  78.6
487433  2022-10-03 11:54  1415.0  867.0  570.6  1443.0  1414.0  29.7  72.1

         WS  WSgust  WSstdev     WD  WDstdev    BP  Cleaning  Precipitation  \
477418  2.2     3.1      0.6  242.8     17.5  1001         0            0.0
477421  1.4     2.4      0.6  231.3     12.1  1001         0            0.0
487433  2.4     3.1      0.5  198.7     12.8  1001         0            0.0

        TModA  TModB
477418   58.0   57.1
477421   60.7   60.2
487433   49.6   47.5
  WS:
               Timestamp    GHI   DNI    DHI   ModA   ModB  Tamb    RH   WS  \
2495    2021-10-31 17:36   35.2   3.6   34.3   35.1   33.1  31.2  66.8  7.5
2496    2021-10-31 17:37   28.9   0.3   29.0   30.8   29.0  30.9  66.7  6.2
9584    2021-11-05 15:45  253.6   1.2  254.7  251.4  241.3  31.7  64.7  5.7
11248   2021-11-06 19:29    1.2   0.1    1.2    0.0    0.0  24.1  87.6  7.2
12584   2021-11-07 17:45   20.4   3.2   20.5   23.3   22.2  29.3  64.0  7.3
...                  ...    ...   ...    ...    ...    ...   ...   ...  ...
516532  2022-10-23 16:53   67.6   0.4   66.8   75.1   73.9  30.1  60.9  6.5
516533  2022-10-23 16:54   61.0   0.0   60.3   69.1   67.8  29.7  62.6  6.1
518002  2022-10-24 17:23   48.1  42.3   36.5   42.8   40.9  28.2  73.6  6.8
518003  2022-10-24 17:24   32.6   6.5   30.1   30.1   28.5  28.1  71.9  7.5
518004  2022-10-24 17:25   25.4   0.1   24.5   25.4   24.2  28.0  72.4  6.1

        WSgust  WSstdev     WD  WDstdev    BP  Cleaning  Precipitation  TModA  \
2495       9.7      1.3  138.2     27.2   999         0            0.0   37.6
2496       7.9      0.9  111.9     15.5   999         0            0.0   36.4
9584       7.2      0.9   79.7     11.3   997         0            0.0   48.0
11248     10.7      1.8  120.2     10.0  1000         0            0.0   24.1
12584      9.7      1.7   13.4     19.1   997         0            0.0   32.0
...        ...      ...    ...      ...   ...       ...            ...    ...
516532     8.2      1.0   27.1     13.1   998         0            0.0   40.8
516533     7.4      0.9    9.9     16.2   998         0            0.0   39.0
518002     9.0      1.4  125.8     16.0   999         0            0.0   33.1
518003     9.7      1.3  118.6     12.7   999         0            0.0   32.1
518004    11.8      2.4  119.2     17.7   999         0            0.0   31.0

        TModB
2495     39.0
2496     37.4
9584     45.3
11248    24.6
12584    32.7
...       ...
516532   43.2
516533   40.6
518002   34.2
518003   33.0
518004   31.5

[685 rows x 18 columns]
  WSgust:
               Timestamp    GHI    DNI    DHI   ModA   ModB  Tamb    RH   WS  \
2495    2021-10-31 17:36   35.2    3.6   34.3   35.1   33.1  31.2  66.8  7.5
2496    2021-10-31 17:37   28.9    0.3   29.0   30.8   29.0  30.9  66.7  6.2
2497    2021-10-31 17:38   26.0    0.2   26.2   29.3   27.8  30.6  63.6  5.2
2498    2021-10-31 17:39   24.6    0.2   24.8   28.9   27.4  30.2  63.6  5.3
2499    2021-10-31 17:40   23.9    0.2   24.3   29.4   28.0  29.9  64.5  5.3
...                  ...    ...    ...    ...    ...    ...   ...   ...  ...
519262  2022-10-25 14:23  805.0  735.6  190.5  824.0  807.0  34.7  53.4  4.9
519308  2022-10-25 15:09  674.7  684.4  177.4  686.7  673.4  34.9  52.7  4.7
519313  2022-10-25 15:14  699.6  718.6  187.4  711.6  697.8  34.8  51.1  5.4
519379  2022-10-25 16:20  448.9  574.3  161.5  435.4  427.8  34.1  50.8  4.7
519396  2022-10-25 16:37  365.7  516.2  139.6  346.0  339.5  34.1  51.0  5.2

        WSgust  WSstdev     WD  WDstdev   BP  Cleaning  Precipitation  TModA  \
2495       9.7      1.3  138.2     27.2  999         0            0.0   37.6
2496       7.9      0.9  111.9     15.5  999         0            0.0   36.4
2497       7.2      1.0   99.4     20.3  999         0            0.0   35.1
2498       7.4      1.3  101.5     18.6  999         0            0.0   34.1
2499       7.7      1.1   89.3     13.4  999         0            0.0   33.3
...        ...      ...    ...      ...  ...       ...            ...    ...
519262     6.9      1.4   60.6     14.6  997         0            0.0   59.9
519308     7.7      1.3   54.5     14.7  996         0            0.0   57.2
519313     6.7      0.7   73.3      8.9  996         0            0.0   55.5
519379     6.7      1.0   55.1     12.1  996         0            0.0   48.9
519396     6.9      1.2   68.1     16.4  996         0            0.0   47.8

        TModB
2495     39.0
2496     37.4
2497     35.9
2498     34.6
2499     33.6
...       ...
519262   56.4
519308   55.1
519313   54.2
519379   51.0
519396   50.0

[1462 rows x 18 columns]
Outliers in Benin dataset:
  ModA:
Empty DataFrame
Columns: [Timestamp, GHI, DNI, DHI, ModA, ModB, Tamb, RH, WS, WSgust, WSstdev, WD, WDstdev, BP, Cleaning, Precipitation, TModA, TModB]
Index: []
  ModB:
Empty DataFrame
Columns: [Timestamp, GHI, DNI, DHI, ModA, ModB, Tamb, RH, WS, WSgust, WSstdev, WD, WDstdev, BP, Cleaning, Precipitation, TModA, TModB]
Index: []
  WS:
               Timestamp  GHI  DNI  DHI  ModA  ModB  Tamb    RH    WS  WSgust  \
13928   2021-08-18 16:09  1.3  0.5  1.4   5.0   5.0  25.5  89.7   7.2     8.7
13929   2021-08-18 16:10  1.7  0.8  1.7   4.8   4.7  25.1  91.4   7.8     9.4
13930   2021-08-18 16:11  2.4  1.1  2.1   4.6   4.6  24.8  93.3   8.0     9.7
13931   2021-08-18 16:12  2.5  0.9  2.1   4.3   4.3  24.6  94.4  10.9    12.5
13932   2021-08-18 16:13  2.7  0.9  2.3   4.2   4.1  24.3  95.1  11.7    13.0
...                  ...  ...  ...  ...   ...   ...   ...   ...   ...     ...
525100  2022-08-08 15:41  9.4  0.1  9.3   9.9   9.8  21.6  98.2   8.5    11.5
525101  2022-08-08 15:42  9.2  0.1  9.1   9.7   9.5  21.5  98.2   8.7    11.0
525102  2022-08-08 15:43  9.1  0.1  8.9   9.5   9.3  21.5  98.3   7.8     9.9
525103  2022-08-08 15:44  9.0  0.2  8.9   9.3   9.2  21.5  98.4   7.8    10.2
525119  2022-08-08 16:00  7.9  0.0  7.8   8.3   8.2  21.9  99.0   7.4     9.4

        WSstdev     WD  WDstdev   BP  Cleaning  Precipitation  TModA  TModB
13928       1.0  179.3     11.1  995         0            1.4   25.6   25.2
13929       0.8  180.2      8.5  995         0            1.8   25.3   24.9
13930       1.1  171.6      9.3  995         0            2.0   25.1   24.7
13931       1.0  167.5      6.7  995         0            2.4   25.0   24.6
13932       1.0  172.0      5.6  995         0            2.3   24.9   24.5
...         ...    ...      ...  ...       ...            ...    ...    ...
525100      1.4  107.2     12.7  996         0            0.6   22.4   21.6
525101      1.3  104.2      8.9  996         0            0.6   22.3   21.6
525102      1.5  108.0     11.5  996         0            0.5   22.3   21.6
525103      1.2  113.5      9.9  996         0            0.5   22.3   21.6
525119      1.2  130.6      9.1  995         0            0.3   22.7   22.0

[1320 rows x 18 columns]
  WSgust:
               Timestamp  GHI  DNI  DHI  ModA  ModB  Tamb    RH    WS  WSgust  \
13928   2021-08-18 16:09  1.3  0.5  1.4   5.0   5.0  25.5  89.7   7.2     8.7
13929   2021-08-18 16:10  1.7  0.8  1.7   4.8   4.7  25.1  91.4   7.8     9.4
13930   2021-08-18 16:11  2.4  1.1  2.1   4.6   4.6  24.8  93.3   8.0     9.7
13931   2021-08-18 16:12  2.5  0.9  2.1   4.3   4.3  24.6  94.4  10.9    12.5
13932   2021-08-18 16:13  2.7  0.9  2.3   4.2   4.1  24.3  95.1  11.7    13.0
...                  ...  ...  ...  ...   ...   ...   ...   ...   ...     ...
525118  2022-08-08 15:59  8.0  0.1  7.9   8.5   8.2  21.9  99.0   6.6     8.7
525119  2022-08-08 16:00  7.9  0.0  7.8   8.3   8.2  21.9  99.0   7.4     9.4
525136  2022-08-08 16:17  5.4  0.0  5.3   6.6   6.4  22.1  99.1   5.8     9.7
525142  2022-08-08 16:23  4.6  0.2  4.6   5.9   5.8  21.9  99.0   6.5     9.2
525155  2022-08-08 16:36  4.8  0.0  4.9   6.0   5.9  22.0  99.1   6.9     8.9

        WSstdev     WD  WDstdev   BP  Cleaning  Precipitation  TModA  TModB
13928       1.0  179.3     11.1  995         0            1.4   25.6   25.2
13929       0.8  180.2      8.5  995         0            1.8   25.3   24.9
13930       1.1  171.6      9.3  995         0            2.0   25.1   24.7
13931       1.0  167.5      6.7  995         0            2.4   25.0   24.6
13932       1.0  172.0      5.6  995         0            2.3   24.9   24.5
...         ...    ...      ...  ...       ...            ...    ...    ...
525118      1.1  130.7      8.9  995         0            0.3   22.7   21.9
525119      1.2  130.6      9.1  995         0            0.3   22.7   22.0
525136      1.9  124.7     13.8  995         0            0.2   22.9   22.1
525142      1.2  126.3     12.3  995         0            0.2   22.8   22.0
525155      1.1  153.8      9.4  995         0            0.1   22.8   22.0

[2089 rows x 18 columns]

In [56]:
benin_df

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB
413,2021-08-09 06:54,16.7,0.0,16.5,16.1,16.3,24.2,98.8,0.0,0.0,0.0,0.0,0.0,997,0,0.0,24.2,23.7
414,2021-08-09 06:55,18.2,0.1,18.0,17.4,17.6,24.2,98.8,0.0,0.0,0.0,0.0,0.0,997,0,0.0,24.3,23.8
415,2021-08-09 06:56,19.7,0.3,19.5,18.7,18.9,24.2,98.8,0.0,0.0,0.0,0.0,0.0,997,0,0.0,24.3,23.9
416,2021-08-09 06:57,21.1,0.6,20.9,19.9,20.1,24.2,98.9,0.0,0.0,0.0,0.0,0.0,997,0,0.0,24.4,23.9
417,2021-08-09 06:58,22.5,1.1,22.2,21.1,21.3,24.2,98.9,0.0,0.0,0.0,0.0,0.0,997,0,0.0,24.5,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525158,2022-08-08 16:39,4.9,0.0,5.0,5.9,5.8,22.1,99.2,5.2,6.4,0.7,153.4,8.9,995,0,0.0,22.8,22.1
525160,2022-08-08 16:41,4.8,0.0,4.9,5.8,5.7,22.1,99.2,5.6,7.2,0.9,153.1,9.4,994,0,0.0,22.8,22.1
525166,2022-08-08 16:47,4.7,0.1,4.7,5.7,5.5,22.2,99.2,5.2,5.9,0.5,147.7,9.0,994,0,0.0,22.9,22.2
525167,2022-08-08 16:48,4.7,0.0,4.8,5.6,5.5,22.2,99.3,4.7,6.2,0.7,145.4,9.8,994,0,0.0,22.9,22.2
525170,2022-08-08 16:51,4.6,0.0,4.7,5.5,5.4,22.3,99.2,5.1,6.4,0.7,150.6,9.8,994,0,0.0,23.0,22.3